html, body
  background-color #1F242D
  font-family Lato

h2
  border-bottom none

a
  color #FFD93F

.navbar
  background-color #1F242D
  box-shadow: 0px 0px 8px #000000;
  border-bottom #1F242D

.navbar .links
  background-color #1F242D !important;
  margin-right 120px

.logo
  margin-left 120px

.search-box input
  color #31363F
  border-color #31363F !important;
  background-color #31363F !important;

.sidebar
  border-right-color #1F242D
  background-color #1F242D
  margin-left 120px

.sidebar-group .is-sub-group .sidebar-heading
    font-size 1em

.page-nav .inner
  border-top-color #31363F !important;

.custom-block.warning
  color #fff

.custom-block.warning .custom-block-title
  color #FFD93F


.sidebar.inner
  border-top-color #31363F

.home
  &.features
    border-top none
